<!DOCTYPE html>
<html>
    <head>
        <title>Node App</title>
        <link href="/assets/styles/main.css" type="text/css" rel="stylesheet"/>
        <link href="/assets/styles/sidebar.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <section class="content">
            <nav class="sidebar">
                <section class="sidebar-item" data-url="/">
                    <span>Home</span>
                </section>

                <section class="sidebar-item" data-url="/user">
                    <span>User</span>
                </section>

                <section class="sidebar-item" data-url="/about">
                    <span>About</span>
                </section>
            </nav>

            <main>
                <h1>Node app</h1>
            </main>
        </section>

        <script src="/assets/js/main.js"></script>
        <script src="/assets/js/sidebar.js"></script>
    </body>
</html>